.routine-page {
    min-height: 100%;
    padding: 60px 20px;
    background: #0a0a0a;
    display: flex;
    justify-content: center;
    align-items: center;
}

.routine-form-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
}

.form-container {
    width: 80%;
    max-width: 800px;
    background: #1a1a1a;
    border: 1px solid #333;
    border-radius: 15px;
    padding: 40px;
}

.form-header {
    text-align: center;
    margin-bottom: 30px;
}

.form-tag {
    color: #ff3b3b;
    font-size: 13px;
    font-weight: bold;
    margin-bottom: 10px;
}

.form-header h2 {
    font-size: 35px;
    margin-bottom: 10px;
    color: white;
}

.highlight {
    color: #ff3b3b;
}

.form-header p {
    color: #bbb;
    font-size: 15px;
}

.gym-form {
    width: 100%;
}

.form-row {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

.form-row .form-group {
    width: 50%;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 8px;
    color: #ccc;
    font-weight: bold;
    font-size: 13px;
}

.form-group input,
.form-group select,
.form-group textarea {
    width: 100%;
    background: #252525;
    color: white;
    border: 2px solid #333;
    border-radius: 12px;
    padding: 14px;
    font-size: 16px;
    font-family: inherit;
    outline: none;
}

.form-group input:focus,
.form-group select:focus,
.form-group textarea:focus {
    border-color: #ff3b3b;
}

.form-group textarea {
    min-height: 130px;
}

.form-actions {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 10px;
}

.cancel-link {
    display: inline-block;
    background: #333;
    padding: 10px 20px;
    border-radius: 8px;
    font-weight: bold;
    color: white;
    text-decoration: none;
}

.update-button{
    display: inline-block;
    background: #ff3b3b;
    padding: 10px 20px;
    border-radius: 8px;
    font-weight: bold;
    color: white;
    text-decoration: none;
    outline: none;
    font-family: inherit;
}

.cancel-link:hover {
    background: #444;
}